@import "tailwindcss";
html,
body {
  cursor: none; /* مخفی کردن کرسر پیش‌فرض */
}

.custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: rgba(128, 128, 128, 0.5); /* دایره خاکستری با opacity */
  border-radius: 50%;
  pointer-events: none; /* جلوگیری از تداخل با کلیک‌ها */
  z-index: 9999;
  transform: translate(-50%, -50%); /* وسط کردن دایره نسبت به موقعیت ماوس */
  transition: transform 0.1s ease; /* انیمیشن نرم برای حرکت */
}
